In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import scipy as sp
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [2]:
comboLifeExp_df = pd.read_csv("LifeHealthyLifeExpectancy.csv")

In [3]:
#comboLifeExp_df.head(10)

In [4]:
comboLifeExp_df.dropna(inplace=True)
#comboLifeExp_df.head(10)

In [5]:
healthyLifeExp_df = comboLifeExp_df.drop(["Life expectancy at birth (years)", "Life expectancy at birth (years).1", "Life expectancy at birth (years).2", "Life expectancy at age 60 (years)", "Life expectancy at age 60 (years).1", "Life expectancy at age 60 (years).2"], axis=1)
lifeExp_df = comboLifeExp_df.drop(["Healthy life expectancy (HALE) at birth (years)", "Healthy life expectancy (HALE) at birth (years).1", "Healthy life expectancy (HALE) at birth (years).2", "Healthy life expectancy (HALE) at age 60 (years)", "Healthy life expectancy (HALE) at age 60 (years).1", "Healthy life expectancy (HALE) at age 60 (years).2"], axis=1)
#healthyLifeExp_df.head(10)

In [6]:
#lifeExp_df.head(10)

In [7]:
healthyLifeExp_df.rename(index=str, columns={"Unnamed: 0": "Country", "Unnamed: 1": "Year"}, inplace=True)
healthyLifeExp_df = healthyLifeExp_df.set_index("Country")
healthyLifeExp_df.head(10)

,Year,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
Country,,,,,,,
Country,Year,Both sexes,Male,Female,Both sexes,Male,Female
Afghanistan,2016,53.0,52.1,54.1,11.3,10.9,11.7
Afghanistan,2015,53.2,52.6,54.1,11.2,10.8,11.6
Afghanistan,2010,51.6,50.9,52.3,11.0,10.6,11.3
Afghanistan,2005,49.6,49.1,50.2,10.7,10.4,11.0
Afghanistan,2000,46.9,46.2,47.7,10.3,10.1,10.6
Albania,2016,68.1,66.7,69.6,16.3,15.3,17.4
Albania,2015,67.8,66.5,69.3,16.0,15.1,16.9
Albania,2010,66.4,64.7,68.2,15.4,14.5,16.4
Albania,2005,65.4,64.0,67.0,14.7,13.8,15.8

In [9]:
lifeExp_df.rename(index=str, columns={"Unnamed: 0": "Country", "Unnamed: 1": "Year"}, inplace=True)
lifeExp_df = lifeExp_df.set_index("Country")
lifeExp_df.head(10)

,Year,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2
Country,,,,,,,
Country,Year,Both sexes,Male,Female,Both sexes,Male,Female
Afghanistan,2016,62.7,61.0,64.5,16.3,15.5,17.1
Afghanistan,2015,63.2,61.8,64.7,16.3,15.5,17.1
Afghanistan,2010,61.2,59.9,62.5,15.9,15.2,16.7
Afghanistan,2005,58.9,57.8,60.1,15.5,14.8,16.3
Afghanistan,2000,55.9,54.6,57.3,15.1,14.5,15.9
Albania,2016,76.4,74.3,78.6,20.8,19.4,22.3
Albania,2015,76.1,74.2,78.2,20.4,19.1,21.8
Albania,2010,74.7,72.5,77.0,19.8,18.6,21.2
Albania,2005,73.5,71.6,75.6,18.9,17.7,20.4

In [10]:
lifeExp_df2015 = lifeExp_df.drop(["2000", "2005","2010"])
lifeExp_df2015.head(10)

KeyError: "['2000' '2005' '2010'] not found in axis"

In [ ]:
healthyLifeExp_df2015 = healthyLifeExp_df.drop(["2000", "2005","2010"])
healthyLifeExp_df2015.head(10)