In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
import scipy as sp
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest

In [6]:
lifeExp_df = pd.read_csv("LifeHealthyLifeExpectancy.csv")

In [7]:
lifeExp_df

,Unnamed: 0,Unnamed: 1,Life expectancy at birth (years),Life expectancy at birth (years).1,Life expectancy at birth (years).2,Life expectancy at age 60 (years),Life expectancy at age 60 (years).1,Life expectancy at age 60 (years).2,Healthy life expectancy (HALE) at birth (years),Healthy life expectancy (HALE) at birth (years).1,Healthy life expectancy (HALE) at birth (years).2,Healthy life expectancy (HALE) at age 60 (years),Healthy life expectancy (HALE) at age 60 (years).1,Healthy life expectancy (HALE) at age 60 (years).2
0,Country,Year,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female,Both sexes,Male,Female
1,Afghanistan,2016,62.7,61.0,64.5,16.3,15.5,17.1,53.0,52.1,54.1,11.3,10.9,11.7
2,Afghanistan,2015,63.2,61.8,64.7,16.3,15.5,17.1,53.2,52.6,54.1,11.2,10.8,11.6
3,Afghanistan,2014,63.0,61.7,64.4,16.2,15.4,17.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2013,62.7,61.5,64.1,16.2,15.4,16.9,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,2012,62.2,60.9,63.6,16.1,15.3,16.8,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,2011,61.7,60.5,63.1,16.0,15.3,16.8,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,2010,61.2,59.9,62.5,15.9,15.2,16.7,51.6,50.9,52.3,11.0,10.6,11.3
8,Afghanistan,2009,60.7,59.5,62.1,15.9,15.1,16.6,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,2008,60.2,59.0,61.6,15.8,15.0,16.6,NaN,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,2007,59.6,58.4,61.0,15.7,15.0,16.5,NaN,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,2006,59.2,58.0,60.5,15.6,14.9,16.4,NaN,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,2005,58.9,57.8,60.1,15.5,14.8,16.3,49.6,49.1,50.2,10.7,10.4,11.0
13,Afghanistan,2004,58.4,57.4,59.6,15.4,14.7,16.2,NaN,NaN,NaN,NaN,NaN,NaN
14,Afghanistan,2003,58.0,56.9,59.1,15.4,14.7,16.1,NaN,NaN,NaN,NaN,NaN,NaN
15,Afghanistan,2002,57.4,56.5,58.5,15.2,14.5,16.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Afghanistan,2001,56.5,55.3,57.9,15.2,14.5,15.9,NaN,NaN,NaN,NaN,NaN,NaN
17,Afghanistan,2000,55.9,54.6,57.3,15.1,14.5,15.9,46.9,46.2,47.7,10.3,10.1,10.6
18,Albania,2016,76.4,74.3,78.6,20.8,19.4,22.3,68.1,66.7,69.6,16.3,15.3,17.4
19,Albania,2015,76.1,74.2,78.2,20.4,19.1,21.8,67.8,66.5,69.3,16.0,15.1,16.9
20,Albania,2014,76.1,74.0,78.5,20.7,19.3,22.2,NaN,NaN,NaN,NaN,NaN,NaN
21,Albania,2013,75.7,73.6,78.1,20.4,19.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN
22,Albania,2012,75.2,73.0,77.7,19.9,18.5,21.6,NaN,NaN,NaN,NaN,NaN,NaN
23,Albania,2011,75.1,72.6,78.2,20.2,18.3,22.7,NaN,NaN,NaN,NaN,NaN,NaN
24,Albania,2010,74.7,72.5,77.0,19.8,18.6,21.2,66.4,64.7,68.2,15.4,14.5,16.4
25,Albania,2009,74.4,72.3,76.7,19.6,18.4,20.9,NaN,NaN,NaN,NaN,NaN,NaN
26,Albania,2008,74.2,72.1,76.5,19.4,18.1,20.7,NaN,NaN,NaN,NaN,NaN,NaN
27,Albania,2007,74.1,71.9,76.4,19.2,17.9,20.5,NaN,NaN,NaN,NaN,NaN,NaN
28,Albania,2006,73.9,71.8,76.2,19.0,17.8,20.3,NaN,NaN,NaN,NaN,NaN,NaN
29,Albania,2005,73.5,71.6,75.6,18.9,17.7,20.4,65.4,64.0,67.0,14.7,13.8,15.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3082,Zambia,2012,59.6,57.7,61.5,17.1,16.3,17.8,NaN,NaN,NaN,NaN,NaN,NaN
3083,Zambia,2011,58.6,56.7,60.5,16.9,16.1,17.6,NaN,NaN,NaN,NaN,NaN,NaN
3084,Zambia,2010,57.5,55.7,59.3,16.7,16.0,17.4,50.1,48.7,51.5,12.2,11.4,12.7
3085,Zambia,2009,56.0,54.3,57.6,16.5,15.7,17.1,NaN,NaN,NaN,NaN,NaN,NaN
3086,Zambia,2008,54.0,52.7,55.3,16.2,15.4,16.8,NaN,NaN,NaN,NaN,NaN,NaN
3087,Zambia,2007,51.6,50.5,52.6,15.8,15.0,16.5,NaN,NaN,NaN,NaN,NaN,NaN
3088,Zambia,2006,50.1,49.1,51.0,15.6,14.8,16.3,NaN,NaN,NaN,NaN,NaN,NaN
3089,Zambia,2005,48.8,47.9,49.7,15.4,14.6,16.1,42.8,42.1,43.5,11.2,10.5,11.8
3090,Zambia,2004,47.6,46.7,48.4,15.2,14.3,15.9,NaN,NaN,NaN,NaN,NaN,NaN
3091,Zambia,2003,46.4,45.5,47.2,15.0,14.1,15.7,NaN,NaN,NaN,NaN,NaN,NaN
3092,Zambia,2002,45.7,44.8,46.6,14.9,14.0,15.6,NaN,NaN,NaN,NaN,NaN,NaN
3093,Zambia,2001,45.0,44.0,46.1,14.7,13.8,15.5,NaN,NaN,NaN,NaN,NaN,NaN
3094,Zambia,2000,44.4,43.2,45.6,14.4,13.5,15.2,39.1,38.2,40.0,10.6,9.9,11.3
3095,Zimbabwe,2016,61.4,59.6,63.1,17.5,16.6,18.1,54.4,52.7,55.9,13.4,12.4,14.1
3096,Zimbabwe,2015,60.8,59.0,62.4,17.4,16.6,18.0,53.8,52.2,55.3,13.3,12.3,14.0
3097,Zimbabwe,2014,59.9,58.2,61.5,17.3,16.5,17.9,NaN,NaN,NaN,NaN,NaN,NaN
3098,Zimbabwe,2013,58.6,56.4,60.7,17.1,16.2,17.8,NaN,NaN,NaN,NaN,NaN,NaN
3099,Zimbabwe,2012,57.3,55.0,59.5,16.9,16.0,17.7,NaN,NaN,NaN,NaN,NaN,NaN
3100,Zimbabwe,2011,55.5,53.6,57.3,16.7,15.7,17.5,NaN,NaN,NaN,NaN,NaN,NaN
3101,Zimbabwe,2010,52.9,51.5,54.2,16.3,15.3,17.1,46.7,45.4,47.9,12.3,11.3,13.1
3102,Zimbabwe,2009,50.6,49.4,51.8,15.9,14.7,16.8,NaN,NaN,NaN,NaN,NaN,NaN
3103,Zimbabwe,2008,48.9,47.6,50.0,15.5,14.3,16.5,NaN,NaN,NaN,NaN,NaN,NaN
3104,Zimbabwe,2007,47.4,46.2,48.6,15.2,13.9,16.3,NaN,NaN,NaN,NaN,NaN,NaN
3105,Zimbabwe,2006,46.3,45.2,47.4,15.0,13.7,16.1,NaN,NaN,NaN,NaN,NaN,NaN
3106,Zimbabwe,2005,45.5,44.5,46.5,14.7,13.4,16.0,40.3,39.4,41.2,11.0,9.8,12.1
3107,Zimbabwe,2004,45.0,44.1,45.9,14.6,13.2,15.8,NaN,NaN,NaN,NaN,NaN,NaN
3108,Zimbabwe,2003,44.9,44.0,45.9,14.5,13.1,15.8,NaN,NaN,NaN,NaN,NaN,NaN
3109,Zimbabwe,2002,45.0,44.0,46.0,14.5,13.1,15.8,NaN,NaN,NaN,NaN,NaN,NaN
3110,Zimbabwe,2001,45.4,44.3,46.5,14.6,13.1,16.0,NaN,NaN,NaN,NaN,NaN,NaN
3111,Zimbabwe,2000,45.9,44.6,47.3,14.8,13.3,16.3,40.5,39.3,41.7,11.0,9.7,12.2